*{margin: 0px;
    padding: 0px;
    }
    video{
    position: fixed;
    right: 0px;
    bottom: 0px; 
    min-width: 100%; min-height: 100%;
    height: auto; width: 100%;
    background: url(images/Main_bg.jpg) no-repeat;
    /*加滤镜*/
    /*filter: blur(15px); //背景模糊设置 */
    -webkit-filter: grayscale(100%);
    filter:grayscale(40%);/* //背景灰度设置*/
    z-index:-99
    }
    source{ min-width: 100%; min-height: 100%;
    height: auto; width: auto;
    }
