.view {
    width: 30%;
    height: 20rem;
    margin: 1%;
    float: left;
    border: 0.7rem solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 0.05rem 0.05rem 1rem #e6e6e6;
    cursor: default;
    /* background: #fff url(../images/bgimg.jpg) no-repeat center center */
}

.view .mask,
.view .content {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}

.view img {
    display: block;
    position: relative
}

.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 100%;
    
    padding: 1rem;
    background: rgba(0, 0, 0, 0.8);
    margin: 2% 0 0 0
}

.view p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 50%;
    position: relative;
    color: #fff;
    padding: 4% 6% 6%;
    text-align: center
}

.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 2% 4%;
    background: #000;
    color: #fff;
    font-size: 10%;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 0 0.08rem #000
}

.view a.info:hover {
    box-shadow: 0 0 0.3rem #000
}

.view-second img {
    transition: all 0.2s ease-in;
}

.view-second .mask {
    background-color: rgba(115, 146, 184, 0.7);
    width: 100%;
    padding: 8%;
    height: 100%;
    opacity: 0;
    transform: translate(8rem, 8rem) rotate(45deg);
    transition: all 0.2s ease-in-out;
}

.view-second h2 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background: transparent;
    margin: 0% 8% 0% 8%;
    transform: translate(8rem, -15rem);
    transition: all 0.2s ease-in-out;
}

.view-second p {
    transform: translate(-200px, 200px);
    transition: all 0.2s ease-in-out;
}

.view-second a.info {
    transform: translate(0px, 100px);
    transition: all 0.2s 0.1s ease-in-out;
}

.view-second:hover .mask {
    opacity: 1;
    transform: translate(0%, -8%);
}

.view-second:hover h2 {
    transform: translate(0%, -100%);
    transition-delay: 0.3s;
}

.view-second:hover p {
    transform: translate(0rem, -130%);
    transition-delay: 0.4s;
}

.view-second:hover a.info {
    transform: translate(0rem, -130%);
    transition-delay: 0.5s;
}

.view-eighth .mask {
    background-color: rgba(255, 255, 255, 0.7);
    top: -200px;
    opacity: 0;
    transition: all 0.3s ease-out 0.5s;
}

.view-eighth h2 {
    transform: translateY(-23rem);
    transition: all 0.2s ease-in-out 0.1s;
}

.view-eighth p {
    color: #333;
    transform: translateY(-23rem);
    transition: all 0.2s ease-in-out 0.2s;
}

.view-eighth a.info {
    transform: translateY(-23rem);
    transition: all 0.2s ease-in-out 0.3s;
}

.view-eighth:hover .mask {
    opacity: 1;
    top: 0px;
    transition-delay: 0s;
    animation: bounceY 0.9s linear;
}

.view-eighth:hover h2 {
    transform: translateY(-5rem);
    transition-delay: 0.4s;
}

.view-eighth:hover p {
    transform: translateY(-5rem);
    transition-delay: 0.2s;
}

.view-eighth:hover a.info {
    transform: translateY(-5rem);
    transition-delay: 0s;
}

@keyframes bounceY {
    0% {
        transform: translateY(-205px);
    }

    40% {
        transform: translateY(-100px);
    }

    65% {
        transform: translateY(-52px);
    }

    82% {
        transform: translateY(-25px);
    }

    92% {
        transform: translateY(-12px);
    }

    55%, 75%, 87%, 97%, 100% {
        transform: translateY(0px);
    }
}

.view-ninth .mask1,
.view-ninth .mask2 {
    background-color: rgba(164, 255, 181, 0.657);
    height: 100%;
    width: 100%;
    /* background: rgba(119, 0, 36, 0.5); */
    opacity: 1;
    transition: all 0.3s ease-in-out 0.6s;
}

.view-ninth .mask-1 {
    left: auto;
    right: 0rem;
    transform: rotate(56.5deg) translateX(-180px);
    transform-origin: 100% 0%;
}

.view-ninth .mask-2 {
    top: auto;
    bottom: 0rem;
    transform: rotate(56.5deg) translateX(180px);
    transform-origin: 0% 100%;
}

.view-ninth .content {
    background: rgba(0, 0, 0, 0.9);
    height: 100%;
    opacity: 0.5;
    width: 100%;
    overflow: hidden;
    transform: rotate(-33.5deg) translate(-22rem, 24rem);
    transform-origin: 0% 100%;
    transition: all 0.4s ease-in-out 0.3s;
}

.view-ninth h2 {
    background: transparent;
    margin-top: -8%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.view-ninth a.info {
    /* transform: translateY(-21rem);
    transition: all 0.2s ease-in-out 0.3s; */
    background-color: white;
    color: black;
}

.view-ninth:hover .content {
    height: 100%;
    width: 100%;
    opacity: 0.9;
    top: 3rem;
    transform: rotate(0deg) translate(0rem, -24%);
}

.view-ninth:hover .mask-1,
.view-ninth:hover .mask-2 {
    transition-delay: 0s;
}

.view-ninth:hover .mask-1 {
    transform: rotate(56.5deg) translateX(1px);
}

.view-ninth:hover .mask-2 {
    transform: rotate(56.5deg) translateX(-1px);
}

/* .view-inline {
    display: flex;
    align-items: center;
    justify-content: space-between;
} */